<div class="preferences-container">
<h3>Select Interests</h3>
	<%= form_for(@user, :html => { :role => 'form' }) do |f| %>
		<%= f.fields_for :interests, f.object.interests.sort_by{|interest| interest.category.name} do |interests_form| %>
			<div class="form-group">
	      <%= interests_form.hidden_field :category_id %>
	      <% if interests_form.object.id %>
		      <%= interests_form.check_box :_destroy, {checked: true}, '0', '1' %>
	      <% else %>
		      <%= interests_form.check_box :_destroy, {}, '0', '1' %>
	      <% end %>
	      <label><%= Category.find(interests_form.object.category).name %></label>
	    </div>
		<% end %>
	 <%= f.submit 'Save', :class => 'btn btn-primary' %>
	<% end %>
</div>